* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Helvetica', sans-serif;
	color: #FFF;
}

input[type="radio"] {
	display: none;
}

label {
	cursor: pointer;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
}

#left-container {
	height: 100%;
	width: 400px;
	background-color: #333;
	float: left;
	padding: 50px;
}

#right-container {
	height: 100%;
	width: calc(100% - 400px);
	min-width: 500px;
	background-color: #DDD;
	float: right;
	position: relative;
}

#character {
	width: 100px;
	transform: translate(50%, 50%) scale(1.3);
}

#character-container {
	padding: 30px;
	background-color: #222;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
}

.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.name {
	margin: 30px -50px;
}

.name h1 {
	font-weight: lighter;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #CCC;
}

.name .guilherme {
	font-size: 23px;
	letter-spacing: 6px;
	padding-left: 6px;
}

.name .morum {
	font-size: 48px;
	background-color: #EC407A;
	font-weight: bold;
	color: #FFF;
	transition: all 0.5s;
}

#about-activator:checked ~ * .name .morum {
	background-color: #8BC34A;
}

#contact-activator:checked ~ * .name .morum {
	background-color: #03A9F4;
}

#about-activator:checked ~ * #home {
	width: 0;
}

#contact-activator:checked ~ * #home,
#contact-activator:checked ~ * #about {
	width: 0;
	padding: 0;
}

.name .santos {
	font-size: 25px;
	letter-spacing: 16px;
	padding-left: 16px;
}

#menu {
	margin-top: 35px;
}

#menu label {
	display: block;
	text-align: center;
	margin: 25px;
	font-size: 26px;
	position: relative;
}

#menu label:after {
	content: attr(text);
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	width: 80px;
	transform: translate(5px, -50%);
	font-size: 15px;
	color: #CCC;
	padding: 5px 10px;
	opacity: 0;
	transition: opacity 0.2s;
	text-shadow: 0 1px 0 rgba(0,0,0,0.8);
	text-align: left;
}

#menu label:hover:after {
	opacity: 1;
}

#menu label i {
	background-color: #222;
	border-radius: 100%;
	padding: 15px;
	transition: all 0.5s;
}

#menu label:hover i {
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#menu label[for="home-activator"]:hover i {
	background-color: #EC407A;
}

#home-activator:checked ~ * #menu label[for="home-activator"] i {
	background-color: #EC407A;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#home-activator:checked ~ * #menu label[for="home-activator"]:after {
	opacity: 1;
}

#menu label[for="about-activator"]:hover i {
	background-color: #8BC34A;
}

#about-activator:checked ~ * #menu label[for="about-activator"] i {
	background-color: #8BC34A;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#about-activator:checked ~ * #menu label[for="about-activator"]:after {
	opacity: 1;
}

#menu label[for="contact-activator"]:hover i {
	background-color: #03A9F4;
}

#contact-activator:checked ~ * #menu label[for="contact-activator"] i {
	background-color: #03A9F4;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#contact-activator:checked ~ * #menu label[for="contact-activator"]:after {
	opacity: 1;
}

.slice {
	height: 100%;
	width: 50px;
	position: absolute;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.card {
	background-color: #FFF;
	box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
	position: relative;
}

#home-content {
	width: 800px;
	height: 500px;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.5s;
}

#home-activator:checked ~ * #home-content {
	opacity: 1;
	transition-delay: 1s;
	z-index: 5;
}

#home {
	z-index: 3;
	background-color: #EC407A;
}

#home-activator:checked ~ * #home {
	width: 100%;
}

#about {
	z-index: 2;
	padding-left: 100px;
	background-color: #8BC34A;
}

#about-activator:checked ~ * #about {
	width: 100%;
}

#contact {
	z-index: 1;
	padding-left: 150px;
	background-color: #03A9F4;
}

#contact-activator:checked ~ * #contact {
	width: 100%;
}

#home-content h1 {
	color: #333;
	font-size: 72px;
	font-family: 'Times New Roman', serif;
	margin: 5px 40px;
	padding: 10px 20px;
	border-bottom: 5px solid #CCC;
	text-transform: uppercase;
}

#home-content .detail {
	display: inline-block;
	position: relative;
}

#home-content .content {
	text-align: center;
}

#home-content .description {
	position: absolute;
	width: 200px;
	height: 0;
	top: 100%;
	left: 20px;
	overflow: hidden;
	transition: all 0.5s;
	border-bottom: 5px solid #EEE;
	font-family: 'Times New Roman', serif;
	font-weight: lighter;
}

#home-content .detail:hover .description {
	height: 140px;
	top: calc(100% - 60px);
}

#home-content .description h3 {
	display: block;
	margin: 0 15px;
	padding: 10px;
	color: #555;
	border-bottom: 1px solid #EEE;
}

#home-content .description p {
	color: #777;
	font-size: 14px;
	padding: 10px;
	margin: 0;
	font-style: italic;
}

#home-content .card {
	height: 200px;
	width: 200px;
	background-color: #EEE;
	box-shadow: none;
	margin: 0 20px;
	margin-top: 80px;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	transform: translateY(0);
}


#home-content .detail:hover .card {
	transform: translateY(-30%);
}

#home-content .card:before {
	content: "";
	position: absolute;
	width: 0;
	height:0;
	background-color: #4A148C;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	transition: all 0.5s;
}

#home-content .card + .card:before {
	background-color: #9C27B0;
}

#home-content .card + .card + .card:before {
	background-color: #BA68C8;
}

#home-content .detail:hover .card:before {
	width: 200%;
	height: 200%;
}

#home-content .card i {
	font-size: 80px;
	color: #555;
	transition: all 0.5s;
}

#home-content .detail:hover .card i {
	color: #FFF;
	text-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}

.page-content {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

#main-content {
	width: calc(100% - 150px);
	margin-left: 150px;
}

#welcome {
	font-size: 80px;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
	color: #999;
	position: absolute;
	top: 20%;
	right: 0;
	text-transform: uppercase;
	width: 100%;
}

#welcome:before {
	content: "Seja bem-vindo";
	position: absolute;
	color: #DDD;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - 3px), calc(-50% - 3px));
	width: 100%;
	display: block;
}

#welcome:after {
	content: "Seja bem-vindo";
	position: absolute;
	color: #222;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% - 6px), calc(-50% - 6px));
	width: 100%;
	display: block;
	text-shadow: none;
}

#to {
	font-size: 50px;
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	color: #555;
	position: absolute;
	top: calc(20% + 100px);
	right: 50%;
	background-color: #FFF;
	width: 150px;
	display: block;
	height: 50px;
	transform: translateX(50%);
	line-height: 50px;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}

#portfolio {
	font-size: 70px;
	font-family: 'Bevan', cursive;
	font-weight: bold;
	color: #222;
	position: absolute;
	top: calc(20% + 170px);
	right: 0;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 15px;
}

#of {
	font-size: 40px;
	font-family: 'Varela Round', cursive;
	font-weight: bold;
	color: #555;
	position: absolute;
	top: calc(20% + 280px);
	right: 0;
	width: 100%;
}

#guilherme {
	font-size: 40px;
	font-family: 'Unica One', sans-serif;
	font-weight: bold;
	color: #333;
	position: absolute;
	top: calc(20% + 350px);
	right: 50%;
	width: 800px;
	letter-spacing: 15px;
	text-transform: uppercase;
	transform: translateX(50%);
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
	text-shadow: 2px 2px 0 #FFF;
}

#contact-content {
	z-index: 4;
	opacity: 0;
	transition: all 1s;
}

#contact-activator:checked ~ * #contact-content {
	opacity: 1;
	transition-delay: 1s;
	z-index: 5;
}

#contact-content h1 {
	font-family: 'Times New Roman', sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
	font-weight: lighter;
	letter-spacing: 2px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding-bottom: 3px;
}

form input,
form textarea {
	padding: 15px 30px;
	border: none;
	color: #999;
	width: 500px;
	display: block;
	margin: 15px;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}

form textarea {
	max-height: 200px;
	min-height: 200px;
	height: 200px;
}

form input[type="submit"]{
	background-color: #FF9800;
	color: #FFF;
	cursor: pointer;
	transition: all 0.5s;
}

form input[type="submit"]:hover {
	background-color: #FFB74D;
}

form input[type="reset"]{
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	cursor: pointer;
	transition: all 0.5s;
}

form input[type="reset"]:hover{
	background-color: rgba(0,0,0,0.4);
}