* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Helvetica', sans-serif;
	color: #FFF;
}

input[type="radio"] {
	display: none;
}

label {
	cursor: pointer;
}

#left-container {
	height: 100%;
	width: 400px;
	background-color: #333;
	float: left;
	padding: 50px;
}

#right-container {
	height: 100%;
	width: calc(100% - 400px);
	min-width: 500px;
	background-color: #DDD;
	float: right;
	position: relative;
}

#character {
	width: 100px;
	transform: translate(50%, 50%) scale(1.3);
}

#character-container {
	padding: 30px;
	background-color: #222;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
}

.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.name {
	margin: 30px -50px;
}

.name h1 {
	font-weight: lighter;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #CCC;
}

.name .guilherme {
	font-size: 23px;
	letter-spacing: 6px;
	padding-left: 6px;
}

.name .morum {
	font-size: 48px;
	background-color: #EC407A;
	font-weight: bold;
	color: #FFF;
}

.name .santos {
	font-size: 25px;
	letter-spacing: 16px;
	padding-left: 16px;
}

#menu {
	margin-top: 35px;
}

#menu label {
	display: block;
	text-align: center;
	margin: 25px;
	font-size: 26px;
}

#menu label i {
	background-color: #222;
	border-radius: 100%;
	padding: 15px;
	transition: all 0.5s;
}

#menu label:hover i {
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#menu label[for="home-activator"]:hover i {
	background-color: #EC407A;
}

#home-activator:checked ~ * #menu label[for="home-activator"] i {
	background-color: #EC407A;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#menu label[for="about-activator"]:hover i {
	background-color: #8BC34A;
}

#about-activator:checked ~ * #menu label[for="about-activator"] i {
	background-color: #8BC34A;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

#menu label[for="contact-activator"]:hover i {
	background-color: #03A9F4;
}

#contact-activator:checked ~ * #menu label[for="contact-activator"] i {
	background-color: #03A9F4;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

.slice {
	height: 100%;
	width: 50px;
	position: absolute;
	overflow: hidden;
	transition: width 1s ease-in-out;
}

.card {
	background-color: #FFF;
	box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
	position: relative;
}

#home-content {
	width: 800px;
	height: 500px;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.5s;
}

#home-activator:checked ~ * #home-content {
	opacity: 1;
	transition-delay: 1s;
}

#home {
	z-index: 3;
	background-color: #EC407A;
}

#home-activator:checked ~ * #home {
	width: 100%;
}

#about {
	z-index: 2;
	padding-left: 100px;
	background-color: #8BC34A;
}

#about-activator:checked ~ * #about {
	width: 100%;
}

#contact {
	z-index: 1;
	padding-left: 150px;
	background-color: #03A9F4;
}

#contact-activator:checked ~ * #contact {
	width: 100%;
}

#home-content h1 {
	color: #333;
	font-size: 72px;
	font-family: 'Times New Roman', serif;
	margin: 5px 40px;
	padding: 10px 20px;
	border-bottom: 5px solid #CCC;
	text-transform: uppercase;
}

#home-content .detail {
	display: inline-block;
	position: relative;
}

#home-content .content {
	text-align: center;
}

#home-content .description {
	position: absolute;
	width: 200px;
	height: 0;
	top: 100%;
	left: 20px;
	overflow: hidden;
	transition: all 0.5s;
	border-bottom: 5px solid #EEE;
	font-family: 'Times New Roman', serif;
	font-weight: lighter;
}

#home-content .detail:hover .description {
	height: 140px;
	top: calc(100% - 60px);
}

#home-content .description h3 {
	display: block;
	margin: 0 15px;
	padding: 10px;
	color: #555;
	border-bottom: 1px solid #EEE;
}

#home-content .description p {
	color: #777;
	font-size: 14px;
	padding: 10px;
	margin: 0;
	font-style: italic;
}

#home-content .card {
	height: 200px;
	width: 200px;
	background-color: #EEE;
	box-shadow: none;
	margin: 0 20px;
	margin-top: 80px;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	transform: translateY(0);
}


#home-content .detail:hover .card {
	transform: translateY(-30%);
}

#home-content .card:before {
	content: "";
	position: absolute;
	width: 0;
	height:0;
	background-color: #4A148C;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	transition: all 0.5s;
}

#home-content .card + .card:before {
	background-color: #9C27B0;
}

#home-content .card + .card + .card:before {
	background-color: #BA68C8;
}

#home-content .detail:hover .card:before {
	width: 200%;
	height: 200%;
}

#home-content .card i {
	font-size: 80px;
	color: #555;
	transition: all 0.5s;
}

#home-content .detail:hover .card i {
	color: #FFF;
	text-shadow: 5px 5px 0 rgba(0,0,0,0.3);
}